################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
# Ignore bin and obj folders
bin/
obj/

# Ignore Debug/Release folders
Debug/
Release/

# Other common ignores for Visual Studio
*.suo
*.user
*.sln.docstates
*.cache
*.bak
*.pdb
*.dll
*.exe
*.tlog
*.log
*.vs/
*.vscode/
*.idea/
*.resx
