################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net8.0
/obj/Debug/net8.0/en-NZ
/obj/Debug/net8.0/EndpointInfo
/obj/Debug/net8.0/EndpointInfo/WebApi.json
/obj/Debug/net8.0/fr
/obj/Debug/net8.0/ta
/obj/Debug/net8.0/ta-IN
/obj/Debug/net8.0/zh-CN
/obj/Debug/net8.0/zh-SG
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/obj/Debug/net8.0/staticwebassets.removed.txt
/obj/Debug/net8.0/WebApi.AssemblyInfo.cs
/obj/Debug/net8.0/WebApi.AssemblyInfoInputs.cache
/obj/Debug/net8.0/WebApi.assets.cache
/obj/Debug/net8.0/WebApi.csproj.AssemblyReference.cache
/obj/Debug/net8.0/WebApi.csproj.GenerateResource.cache
/obj/Debug/net8.0/WebApi.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/WebApi.Resources.Services.LoginController.en-NZ.resources
/obj/Debug/net8.0/WebApi.Resources.Services.LoginController.resources
/obj/Debug/net8.0/WebApi.Resources.Services.LoginController.ta-IN.resources
/obj/Debug/net8.0/WebApi.Resources.Services.LoginController.zh-SG.resources
/obj/Debug/net8.0/WebApi.Resources.Services.TestController.en-NZ.resources
/obj/Debug/net8.0/WebApi.Resources.Services.TestController.resources
/obj/Debug/net8.0/WebApi.Resources.Services.TestController.ta-IN.resources
/obj/Debug/net8.0/WebApi.Resources.Services.TestController.zh-SG.resources
/obj/Debug/net8.0/WebApi.Resources.Services.TranslationService.en-NZ.resources
/obj/Debug/net8.0/WebApi.Resources.Services.TranslationService.resources
/obj/Debug/net8.0/WebApi.Resources.Services.TranslationService.ta-IN.resources
/obj/Debug/net8.0/WebApi.Resources.Services.TranslationService.zh-SG.resources
/obj/Debug/net8.0/WebApi.Resources.SharedResources.fr.resources
/obj/Debug/net8.0/WebApi.Resources.SharedResources.resources
/obj/Debug/net8.0/WebApi.Resources.SharedResources.ta.resources
/obj/Debug/net8.0/WebApi.Resources.SharedResources.zh-CN.resources
/DataAccessLayer/obj/Debug/net8.0/DataAccessLayer.AssemblyInfo.cs
/DataAccessLayer/obj/Debug/net8.0/DataAccessLayer.AssemblyInfoInputs.cache
/DataAccessLayer/obj/Debug/net8.0/DataAccessLayer.assets.cache
/DataAccessLayer/obj/Debug/net8.0/DataAccessLayer.GeneratedMSBuildEditorConfig.editorconfig
/Resources/Services/TestController.en-NZ.resx
/obj/project.assets.json
/obj/project.nuget.cache
/obj/WebApi.csproj.nuget.dgspec.json
/obj/WebApi.csproj.nuget.g.props
/obj/WebApi.csproj.nuget.g.targets
/.vs/WebApi/v17/.suo
/.vs/WebApi/v17/DocumentLayout.json
/DataAccessLayer/obj/Debug/net8.0/DataAccessLayer.AssemblyInfo.cs
/DataAccessLayer/obj/Debug/net8.0/DataAccessLayer.AssemblyInfoInputs.cache
/DataAccessLayer/obj/Debug/net8.0/DataAccessLayer.assets.cache
/DataAccessLayer/obj/Debug/net8.0/DataAccessLayer.csproj.AssemblyReference.cache
/DataAccessLayer/obj/Debug/net8.0/DataAccessLayer.csproj.CoreCompileInputs.cache
/DataAccessLayer/obj/Debug/net8.0/DataAccessLayer.csproj.FileListAbsolute.txt
/DataAccessLayer/obj/Debug/net8.0/DataAccessLayer.GeneratedMSBuildEditorConfig.editorconfig
/DataAccessLayer/obj/Debug/net8.0/DataAccessLayer.sourcelink.json
/DataAccessLayer/obj/DataAccessLayer.csproj.nuget.dgspec.json
/DataAccessLayer/obj/DataAccessLayer.csproj.nuget.g.props
/DataAccessLayer/obj/DataAccessLayer.csproj.nuget.g.targets
/DataAccessLayer/obj/project.assets.json
/DataAccessLayer/obj/project.nuget.cache
/obj/Debug/net8.0/WebApi.AssemblyInfo.cs
/obj/Debug/net8.0/WebApi.AssemblyInfoInputs.cache
/obj/Debug/net8.0/WebApi.assets.cache
/obj/Debug/net8.0/WebApi.csproj.AssemblyReference.cache
/obj/Debug/net8.0/WebApi.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/WebApi.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/WebApi.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/WebApi.MvcApplicationPartsAssemblyInfo.cs
/obj/Debug/net8.0/WebApi.sourcelink.json
