################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
# Ignore bin and obj folders
bin/
obj/

# Ignore Debug/Release folders
Debug/
Release/

# Other common ignores for Visual Studio
*.suo
*.user
*.sln.docstates
*.cache
*.bak
*.pdb
*.dll
*.exe
*.tlog
*.log
*.vs/
*.vscode/
*.idea/
*.resx
/DataAccessLayer/bin/
/DataAccessLayer/obj/
/DataAccessLayer/bin/Debug/net8.0/DataAccessLayer.dll
/DataAccessLayer/bin/Debug/net8.0/DataAccessLayer.pdb
/DataAccessLayer/obj/Debug/net8.0/ref/DataAccessLayer.dll
/Resources/Services/LoginController.en-NZ.resx
/Resources/Services/LoginController.resx
/Resources/Services/LoginController.ta-IN.resx
/Resources/Services/LoginController.zh-SG.resx
/Resources/Services/TestController.resx
/Resources/Services/TestController.ta-IN.resx
/Resources/Services/TestController.zh-SG.resx
/Resources/Services/TranslationService.en-NZ.resx
/Resources/Services/TranslationService.resx
/Resources/Services/TranslationService.ta-IN.resx
/Resources/Services/TranslationService.zh-SG.resx
/.vs/WebApi/v17/.futdcache.v2
/.vs/ProjectEvaluation/webapi.metadata.v9.bin
/.vs/ProjectEvaluation/webapi.projects.v9.bin
/.vs/ProjectEvaluation/webapi.strings.v9.bin
